.AboutUs {
    width: 100%;
    height: 100vh;  background: url('../../images/bg5.jpg') no-repeat center center/cover;
}

.AboutUs .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.AboutUs .top {
    margin-top: 7rem;
    color: #f6f6f6;
}
.AboutUs .bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 4rem;
}
.AboutUs .des {
    color :aliceblue;
}
      

@media screen and (max-width:540px) {
    .AboutUs .container .bottom {
        flex-direction: column;
        align-items: center;
    }
    
    
}